@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "AddWriter";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Yazar Ekleme Paneli</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form method="post">
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label" asp-for="@Model.WriterName">Yazar Ad Soyad:</label>
                        <div class="col-sm-10"><input type="text" class="form-control" asp-for="@Model.WriterName"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="@Model.WriterMail">Yazar E-mail:</label>
                        <div class="col-sm-10"><input type="text" class="form-control" asp-for="@Model.WriterMail"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="@Model.WriterAbout">Yazar Hakkında:</label>
                        <div class="col-sm-10"><textarea class="form-control" name="WriterAbout" rows="4"></textarea></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Yazar Resim</label>
                        <div class="col-sm-10"><input type="file" class="form-control" asp-for="@Model.WriterImage"></div>
                    </div>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-warning" style="float:right; height:45px; width:200px">Yazar Ekle</button>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

