@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>

<html lang="en-us">
<body>

    <main>
        <section class="section">
            <div class="container">
                <div class="row">
                    @foreach (var x in Model)
                    {
                        <div class="col-lg-12">
                            <img loading="lazy" decoding="async" src="@x.AboutImage1" class="img-fluid w-100 mb-4" alt="#">
                            <h1 class="mb-4">Bloğumuz Hakkında</h1>
                            <div class="content">
                                <p>@x.AboutDetails1</p>
                                <blockquote>
                                    <p>@x.AboutImage2</p>
                                </blockquote>
                                <p>@x.AboutDetails2</p>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>
    </main>
</body>
</html>




<!--<!DOCTYPE html>
<html lang="zxx">

<body>

    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
            <div class="row inner-sec">-->
<!--left-->
<!--<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
    <div class="blog-grid-top">

        <div class="blog_info_left_grid">
            <a href="single.html">
                <img src="~/web/images/b5.jpg" class="img-fluid" alt="">
            </a>
        </div>
        <h3>
            Biz Kimiz & Misyonumuz & Vizyonumuz
        </h3>
        @foreach (var x in Model)
        {
            <p>
              @x.AboutDetails1
            </p>
        }

        <a href="single.html" class="btn btn-primary read-m">Read More</a>
    </div>

</div>-->
<!--//left-->
<!--right-->
<!--<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/web/images/banner1.jpg" class="img-fluid" alt="">
                        </div>

                        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

                        @await Html.PartialAsync("~/Views/About/SocialMediaAbout.cshtml")

                        <div class="tech-btm">
                            <h4>Son Postlar</h4>
                            @await Component.InvokeAsync("WriterLastBlog")

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</body>
</html>-->
