@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>

<html lang="en-us">
<body>
    <main>
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 vw-100">
                        <div class="row">
                            @foreach (var x in Model)
                            {
                                <div class="col-md-6">

                                    <article class="card article-card article-card-sm h-100">
                                        <a href="article.html">
                                            <div class="card-image">
                                                <div class="post-info">
                                                    <span class="text-uppercase">@(((DateTime)x.BlogCreateDate).ToString("dd-MMM-yyyy"))</span>
                                                </div>
                                                <img loading="lazy" decoding="async" src="@x.BlogImage" alt="Post Thumbnail" class="w-100" width="420" height="280">
                                            </div>
                                        </a>
                                        <div class="card-body px-0 pb-0">
                                            <ul class="post-meta mb-2">
                                                <li>
                                                    <a href="#!">@x.Category.CategoryName</a>
                                                </li>
                                            </ul>
                                            <h2>
                                                <a class="post-title" href="article.html">
                                                  @x.BlogTitle
                                                </a>
                                            </h2>
                                            <p class="card-text">@x.BlogContent.Substring(0, x.BlogContent.Substring(0,115).LastIndexOf(" "))…</p>
                                            <div class="content">
                                                <a class="read-more-btn" href="/Blog/BlogReadAll/@x.BlogID">Devamını oku</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
